<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CHAT</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
   <link rel="stylesheet" href="/css/styles.css"> -->
  <!-- <body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">CHATAPP</p>
      </div>
         <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/login">Login</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li> -->
        </ul>
    <!-- </div>
  </nav>

    <div class="container">
        <form class="" action="/register" method="post">
            <div class="form-group">
              <label>Email</label>
              <input class="form-control" type="email" name="email">
              <label>Password</label>
              <input class="form-control" type="password" name="password"></input>
            </div>
            <button class="btn btn-primary" type="submit" name="button">Register</button>
          </form>
          <div>
            <a href="/register"> click here to register</a>
          </div> -->
    <!-- </div>

  </body> -->

  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="css/register.css" />
  </head>
  <body>
    <div class="login_form_container">
      <div class="login_form">
        <h2>Register</h2>
        <!-- <div class="input_group">
          <i class="fa fa-user"></i>

          <input
            type="ema"
            placeholder="Username"
            class="input_text"
            autocomplete="off"
          />
        </div>
        <div class="input_group">
          <i class="fa fa-unlock-alt"></i>
          <input
            type="password"
            placeholder="Password"
            class="input_text"
            autocomplete="off"
          />
        </div> -->
        <form class="" action="/register" method="post">

            <div class="input_group">
              <i class="fa fa-envelope"></i>
            <input  type="text"
            class="input_text"
            autocomplete="off"
             name="email">
            </div>
            <div class="input_group">
              <i class="fa fa-unlock-alt"></i>
            <input  type="password"
            class="input_text"
            autocomplete="off"
             name="password"></input>
            </div>
                <centre>
                  <div>
                    <button class="button"  type="submit" name="button">Register</button>
                  </div>
                </centre>

        </form>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="login.js"></script>
  </body>
</html>
